
table {
    border-collapse: collapse;
    width: 100%;
    align-content: center;
}

table, th, td {
    border: 1px solid black;
}

th {
    width: 70%;
}

nav {
    background-color: darkred;
}

footer {
    color: white;
}

a {
    font-weight: bold;
}

footer.page-footer {
    background-color: #8B0000;
}

#map {
    width: 570px;
    height: 500px;
}
