
table {
    border-collapse: collapse;
    width: 100%;
    align-content: center;
}

table, th, td {
    border: 1px solid black;
}

th {
    width: 70%;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

nav {
    background-color: #8B0000;
}

footer {
    color: white;
}

a {
    color: #0077ff; 
}

footer.page-footer {
    background-color: #8B0000;
}

#map { 
    /*width: 1000px; */
    width: 1200px;
    height: 600px; 
}

body { 
    font: 16px/1.4 "Helvetica Neue", Arial, sans-serif; 
}

.ghbtns { 
    position: relative; 
    top: 4px; 
    margin-left: 5px; 
}
        

h4 {
    font-weight: bold;
}
